{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Register
{% endblock %}

{% block content %}
{% load static%}
<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 95%;
  width: 250px;
  position: fixed;
  z-index: 1;
  margin-top:60px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.form1{
  width:100%;

}
.form1 input{
  width:90%;
  margin-top:10px;
  border-radius:5px;
  border:1px solid black;
  padding-left: 20px;

}
.form1 input:hover{
  border:1px solid blue;
}
</style>
<body>
  <div class="sidenav">
  <a href="{% url 'Onboard' %}">Create</a>
  <a href="{% url 'Delete' %}">Delete</a>
  <a href="{% url 'Bug_Issue' %}">Bug Issue</a>
  <a href="{% url 'Send_Offer' %}">Send offer</a>
</div>

<div class="main">
<p> Delete User</p>
<div class="form1">

  <form method="POST" action="">
 {% csrf_token %}
    <input type="text" placeholder="User Id" name="User_ID" required> 
    
    </select>
    <input type="submit" value="Submit">



  </form>
  </div>
  <div>
    {{msg}}
  </div>
</div>
</body>
</html>
{% endblock %}