{% load static %}
{% block content %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>NDA</title>
	<script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }

</script>
<style>
	.body{
		font-family:cursive;
	}
	.verify{
		width:100%;
		margin-top: 450px;
		margin-left: 500px;

	}
	.verify #sub{
		background:none;
		border:1px solid blue;
		font-size: 30px;
		font-weight: 600;

	}
	
	</style>
</head>
<body onload="disableSubmit()">
	<div class="verify">
 <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I {{user}}, will abide by the NDA.
<br><br>
  <button type="submit" name="submit" id="submit" value="I Agree" onclick="window.open('/nda');" target="_self">I Agree</button>
  <button onclick="window.open('/greeting')" target="_self"> I Disagree </button></br>

  <a href="{% static 'mainapp/offer.pdf' %}" download="offer letter"><button>Download</button></a>
</div>
</body>
</html>
{% endblock%}