{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Register
{% endblock %}

{% block content %}
{% load static%}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="stylesheet" href="{% static 'mainapp/css/onboard.css'%}">
  <style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 95%;
  width: 250px;
  position: fixed;
  z-index: 1;
  margin-top:60px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.form1{
  width:100%;

}
.form1 input{
  width:90%;
  margin-top:10px;
  border-radius:5px;
  border:1px solid black;
  padding-left: 20px;

}
.form1 input:hover{
  border:1px solid blue;
}
.form1 select{
  margin-top:10px;
  border-radius:5px;
  padding-left:20px;
}
</style>
<body>
  <div class="sidenav">
  <a href="{% url 'Onboard' %}">Create</a>
  <a href="{% url 'Delete' %}">Delete</a>
  <a href="{% url 'Bug_Issue' %}">Bug Issue</a>
  <a href="{% url 'Send_Offer' %}">Send offer</a>
</div>
<div class="main">
<p> Create User</p>
<div class="form1">

  <form method="POST" action="#">
    {% csrf_token %}
    <input type="text" placeholder="Username" name="username" required> 
    <input type="password" placeholder="Password" name="password" required> 
    <input type="text" placeholder="FullName" name="name" required> 
    <input type="email" placeholder="Email" name="email" required> 
    <select name="opt">
      <option value="Developer">Developer</option>
      <option value="Manager">Manager</option>
      <option value="Reportee">Reportee</option>
      <option value="Administrator">Administrator</option>
    </select>
    <input type="submit" value="Submit">



  </form>
  </div>
</div>
<div style="margin-left: 40px;">
  {{msg}}
  </div>
  }

</body>
</html>
{% endblock %}